.inner{
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 20px;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
  gap: 500px;
}
.dateText {
  font-size: clamp(32px, 8vw, 28px);
  font-weight: 600;
}
.cityText {
  padding-right: 60px;
  font-size: clamp(32px, 8vw, 28px);
  font-weight: 600;
}
.menuBtn {
  font-size: clamp(10px, 8vw, 20px);
  font-weight: 600;
  position: relative;
  top: 10px;
}
