.inner{
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 400px;
  font-size: 30px;
  padding: 15px;
}
.dateText {
  font-size: clamp(32px, 8vw, 28px);
  font-weight: 600;
}
.cityText {
  font-size: clamp(32px, 8vw, 28px);
  font-weight: 600;
}
.menuBtn {
  font-size: clamp(10px, 8vw, 20px);
  font-weight: 600;
  position: relative;
  top: 5px;
}
