.weeklyPage {
    min-height: 100vh;
}
.title {
    display: flex;
    justify-content: center;
}
.card {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
    width: 360px;
    height: 260px;
}
.week {
    font-size: 24px;
}
.icon {
    width: 100px;
    height: 100px;
}
.temp {
    font-size: 32px;
}
.wrap {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}