/* === セクション全体（背景は親の水色を使用） === */
.hero {
  border-bottom: 1px solid rgba(0,0,0,.12);
  border-top: 1px solid rgba(0,0,0,.12);
  padding: 20px;
}

/* === 中身のレイアウト（左右の距離/最大幅をここで制御） === */
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 365px;
}

/* === 左：温度 === */
.temp {
  font-size: clamp(32px, 8vw, 48px);
  font-weight: 600;
}

.center {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: clamp(100px, 8vw, 48px);
  height: clamp(100px, 8vw, 48px);
}
.desc{
  font-size: clamp(25px, 2vw, 16px);
  font-weight: 600;
  gap: 10px;
}

.pop {
  font-size: clamp(25px, 2vw, 16px);
  font-weight: 600;
  gap: 10px;
}
