/* src/components/QuoteOfTheDay.module.css */
.quoteSection {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 130px;
}

.inner {
  display: flex;
  flex-direction: column; /* 横並びにしたいなら row */
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 110px 0;
}

.title {
  font-weight: 700;
  font-size: clamp(30px, 2.6vw, 18px);
}

.quote {
  white-space: pre-wrap;
  text-align: center;
  font-weight: 500;
  font-size: clamp(40px, 2.4vw, 16px);
}
