.overlay {
    background: rgba(0, 0, 0, 0.45);
}
.dialog {
    background: white;
    border-radius: 8px;
}
.header {
    display: flex;
    justify-content: flex-end;
}
.footer {
  display: flex;
  justify-content: space-between; /* 左右に分ける */
  align-items: center;
  width: 100%;
  padding: 5px 10px 10px;
}

.textarea :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
  border-color: #e5e7eb;
}

/* もし青いシャドウも気になる場合は消してOK */
.textarea :global(.MuiOutlinedInput-root.Mui-focused) {
  box-shadow: none;
}